{{! navbar }}

<div class="container mx-auto flex justify-between items-center">
  <div>
    <span class="text-gray-500">Role: {{role}}</span>
  </div>
  <nav id="navUser" class="flex justify-end">
    <button
      id="btnUser"
      class="flex items-center justify-center w-10 h-10 rounded-full bg-black text-white mr-2 mt-2">
      <span class="text-xl font-bold">{{userLetter}}</span>
    </button>
  </nav>
</div>



{{! end navbar }}

<div class="container mx-auto">
  <div class="grid grid-cols-3 gap-4" id="product-list">
    {{#each products.data}}
      <div class="bg-white rounded-lg shadow-lg p-6 m-4">
        <h2 class="text-xl font-bold mb-2">{{this.title}}</h2>
        <p class="text-gray-600">{{this.description}}</p>
        <p class="text-green-600 font-bold mt-4">Price: ${{this.price}}</p>
        <button
          class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
          id="btn-{{this._id}}"
        >
          Details
        </button>
      </div>
    {{/each}}
  </div>

  <div class="inline-flex justify-center">

    {{#if products.hasPrevPage}}
      <a
        href={{products.prevLink}}
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >Prev</a>
    {{else}}
      <a
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >Prev</a>
    {{/if}}

    {{#if products.hasNextPage}}
      <a
        href={{products.nextLink}}
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >Next</a>
    {{else}}
      <a
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >Next</a>
    {{/if}}

  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="js/products.js" type="module"></script>